In [1]:
import pandas as pd
import numpy as np

In [2]:
location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [4]:
df.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [5]:
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [6]:
df.count

<bound method DataFrame.count of         Unnamed: 0  BATHRM  HF_BATHRM           HEAT AC  NUM_UNITS  ROOMS  \
0                0       4          0      Warm Cool  Y        2.0      8
1                1       3          1      Warm Cool  Y        2.0     11
2                2       3          1  Hot Water Rad  Y        2.0      9
3                3       3          1  Hot Water Rad  Y        2.0      8
4                4       2          1      Warm Cool  Y        1.0     11
5                5       3          2  Hot Water Rad  Y        1.0     10
6                6       1          0      Warm Cool  Y        2.0      5
7                7       3          1  Hot Water Rad  Y        2.0      8
8                8       3          1      Warm Cool  Y        2.0      7
9                9       1          1  Hot Water Rad  Y        1.0      6
10              10       3          0     Forced Air  N        3.0     12
11              11       5          0  Hot Water Rad  Y        3.0     16
12              12       2          0  Hot Water Rad  N        2.0      9
13              13       2          0      Warm Cool  Y        2.0     11
14              14       3          1      Warm Cool  Y        2.0      5
15              15       2          1      Warm Cool  Y        2.0      9
16              16       3          1      Warm Cool  Y        1.0      8
17              17       2          0  Hot Water Rad  N        1.0      6
18              18       3          1  Hot Water Rad  Y        2.0     10
19              19       3          1  Hot Water Rad  Y        2.0      9
20              20       3          1  Hot Water Rad  Y        1.0     14
21              21       3          0     Forced Air  Y        2.0     12
22              22       1          0     Forced Air  Y        1.0      6
23              23       2          1     Forced Air  Y        1.0      5
24              24       2          1  Hot Water Rad  Y        1.0      8
25              25       1          0  Hot Water Rad  N        1.0      8
26              26       1          0  Hot Water Rad  N        1.0     10
27              27       3          0  Hot Water Rad  Y        4.0      9
28              28       3          0      Warm Cool  Y        2.0     10
29              29       3          1     Forced Air  Y        2.0     11
...            ...     ...        ...            ... ..        ...    ...
158927      158927       2          0        Ht Pump  Y        NaN      6
158928      158928       2          1        Ht Pump  Y        NaN      5
158929      158929       2          1        Ht Pump  Y        NaN      5
158930      158930       2          0     Forced Air  N        NaN      4
158931      158931       2          1     Forced Air  N        NaN      4
158932      158932       2          1     Forced Air  N        NaN      4
158933      158933       2          0        Ht Pump  Y        NaN      4
158934      158934       1          1        Ht Pump  Y        NaN      3
158935      158935       1          0        Ht Pump  Y        NaN      3
158936      158936       1          0        Ht Pump  Y        NaN      3
158937      158937       1          0     Forced Air  Y        NaN      4
158938      158938       2          0      Warm Cool  Y        NaN      7
158939      158939       1          0     Forced Air  Y        NaN      4
158940      158940       2          0     Forced Air  Y        NaN      7
158941      158941       1          0     Forced Air  Y        NaN      4
158942      158942       2          0     Forced Air  Y        NaN      7
158943      158943       2          1     Forced Air  Y        NaN      5
158944      158944       2          1     Forced Air  Y        NaN      5
158945      158945       1          0     Forced Air  Y        NaN      3
158946      158946       1          0     Forced Air  Y        NaN      4
158947      158947       2          0     Forced Air  Y        NaN      4
158948      158948       2          0     Forced Air  Y        NaN      4
158949      158949       1          1     Forced Air  Y        NaN      4
158950      158950       3          0     Forced Air  Y        NaN      5
158951      158951       3          1     Forced Air  Y        NaN      5
158952      158952       1          0     Forced Air  Y        NaN      3
158953      158953       1          0     Forced Air  Y        NaN      4
158954      158954       2          0     Forced Air  Y        NaN      4
158955      158955       1          0      Warm Cool  Y        NaN      2
158956      158956       1          0      Warm Cool  Y        NaN      2

        BEDRM     AYB  YR_RMDL   ...     LONGITUDE       ASSESSMENT_NBHD  \
0           4  1910.0   1988.0   ...    -77.040832            Old City 2
1           5  1898.0   2007.0   ...    -77.040764            Old City 2
2           5  1910.0   2009.0   ...    -77.040678            Old City 2
3           5  1900.0   2003.0   ...    -77.040629            Old City 2
4           3  1913.0   2012.0   ...    -77.039361            Old City 2
5           5  1913.0      NaN   ...    -77.039715            Old City 2
6           2  1917.0   1988.0   ...    -77.041055            Old City 2
7           4  1906.0   2011.0   ...    -77.040129            Old City 2
8           3  1908.0   2008.0   ...    -77.039903            Old City 2
9           2  1908.0   1979.0   ...    -77.040081            Old City 2
10          5  1890.0   1950.0   ...    -77.040760            Old City 2
11          6  1905.0      NaN   ...    -77.039718            Old City 2
12          5  1894.0   1979.0   ...    -77.039569            Old City 2
13          5  1885.0   1979.0   ...    -77.039644            Old City 2
14          3  1917.0   2000.0   ...    -77.039716            Old City 2
15          4  1908.0   1990.0   ...    -77.039784            Old City 2
16          3  1908.0   2006.0   ...    -77.039844            Old City 2
17          3  1908.0   1987.0   ...    -77.039961            Old City 2
18          4  1908.0   2006.0   ...    -77.040020            Old City 2
19          3  1908.0   2013.0   ...    -77.040138            Old City 2
20          5  1880.0   2009.0   ...    -77.033774            Old City 2
21          3  1880.0   2009.0   ...    -77.033838            Old City 2
22          3  1880.0   2010.0   ...    -77.033925            Old City 2
23          3  1880.0   2010.0   ...    -77.033972            Old City 2
24          3  1880.0   2004.0   ...    -77.034070            Old City 2
25          4  1880.0   2010.0   ...    -77.034156            Old City 2
26          5  1900.0   2004.0   ...    -77.034258            Old City 2
27          3  1900.0   1963.0   ...    -77.034182            Old City 2
28          4  1900.0   1960.0   ...    -77.034119            Old City 2
29          3  1900.0   2014.0   ...    -77.034051            Old City 2
...       ...     ...      ...   ...           ...                   ...
158927      3  1993.0   1993.0   ...    -77.019274            Old City 2
158928      2  2013.0      NaN   ...    -77.019274            Old City 2
158929      2  2013.0      NaN   ...    -77.019274            Old City 2
158930      2  1900.0   2003.0   ...    -77.019243            Old City 2
158931      2  1900.0   2003.0   ...    -77.019243            Old City 2
158932      2  1900.0   2003.0   ...    -77.019243            Old City 2
158933      2  1880.0   2016.0   ...    -77.019243            Old City 2
158934      1  1880.0   2016.0   ...    -77.019243            Old City 2
158935      1  1880.0   2016.0   ...    -77.019243            Old City 2
158936      1  1880.0   2016.0   ...    -77.019243            Old City 2
158937      2  1992.0   1992.0   ...    -77.019420            Old City 2
158938      4  1992.0   1992.0   ...    -77.019420            Old City 2
158939      2  1992.0   1992.0   ...    -77.019420            Old City 2
158940      4  1992.0   1992.0   ...    -77.019420            Old City 2
158941      2  1992.0   1992.0   ...    -77.019420            Old City 2
158942      4  1992.0   1992.0   ...    -77.019420            Old City 2
158943      2  2004.0   2004.0   ...    -77.019420            Old City 2
158944      2  2004.0   2004.0   ...    -77.019420            Old City 2
158945      1  1938.0   2006.0   ...    -77.019420            Old City 2
158946      2  1938.0   2006.0   ...    -77.019420            Old City 2
158947      2  1938.0   2006.0   ...    -77.019420            Old City 2
158948      2  1938.0   2006.0   ...    -77.019420            Old City 2
158949      1  1938.0   2006.0   ...    -77.019420            Old City 2
158950      3  1938.0   2006.0   ...    -77.019420            Old City 2
158951      3  1938.0   2006.0   ...    -77.019420            Old City 2
158952      1  1938.0   2006.0   ...    -77.019420            Old City 2
158953      2  1938.0   2006.0   ...    -77.019420            Old City 2
158954      2  1920.0   2007.0   ...    -77.019420            Old City 2
158955      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront
158956      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD  SQUARE  \
0        040 D Old City 2        4201.0  004201 2006  Ward 2     152
1        040 D Old City 2        4201.0  004201 2006  Ward 2     152
2        040 D Old City 2        4201.0  004201 2006  Ward 2     152
3        040 D Old City 2        4201.0  004201 2006  Ward 2     152
4        040 D Old City 2        4201.0  004201 2006  Ward 2     152
5        040 D Old City 2        4201.0  004201 2006  Ward 2     152
6        040 D Old City 2        4201.0  004201 2005  Ward 2     152
7        040 D Old City 2        4201.0  004201 2005  Ward 2     152
8        040 D Old City 2        4201.0  004201 2005  Ward 2     152
9        040 D Old City 2        4201.0  004201 2005  Ward 2     152
10       040 D Old City 2        4201.0  004201 2005  Ward 2     152
11       040 D Old City 2        4201.0  004201 2005  Ward 2     152
12       040 D Old City 2        4201.0  004201 2005  Ward 2     152
13       040 D Old City 2        4201.0  004201 2005  Ward 2     152
14       040 D Old City 2        4201.0  004201 2005  Ward 2     152
15       040 D Old City 2        4201.0  004201 2005  Ward 2     152
16       040 D Old City 2        4201.0  004201 2005  Ward 2     152
17       040 D Old City 2        4201.0  004201 2005  Ward 2     152
18       040 D Old City 2        4201.0  004201 2005  Ward 2     152
19       040 D Old City 2        4201.0  004201 2005  Ward 2     152
20       040 E Old City 2        5201.0  005201 4003  Ward 2     208
21       040 E Old City 2        5201.0  005201 4003  Ward 2     208
22       040 E Old City 2        5201.0  005201 4003  Ward 2     208
23       040 E Old City 2        5201.0  005201 4003  Ward 2     208
24       040 E Old City 2        5201.0  005201 4003  Ward 2     208
25       040 E Old City 2        5201.0  005201 4003  Ward 2     208
26       040 E Old City 2        5201.0  005201 4003  Ward 2     208
27       040 E Old City 2        5201.0  005201 4003  Ward 2     208
28       040 E Old City 2        5201.0  005201 4003  Ward 2     208
29       040 E Old City 2        5201.0  005201 4003  Ward 2     208
...                   ...           ...          ...     ...     ...
158927   040 G Old City 2        4801.0          NaN  Ward 6     475
158928   040 G Old City 2        4801.0          NaN  Ward 6     475
158929   040 G Old City 2        4801.0          NaN  Ward 6     475
158930   040 B Old City 2        4801.0          NaN  Ward 6     476
158931   040 B Old City 2        4801.0          NaN  Ward 6     476
158932   040 B Old City 2        4801.0          NaN  Ward 6     476
158933   040 B Old City 2        4801.0          NaN  Ward 6     476
158934   040 B Old City 2        4801.0          NaN  Ward 6     476
158935   040 B Old City 2        4801.0          NaN  Ward 6     476
158936   040 B Old City 2        4801.0          NaN  Ward 6     476
158937   040 B Old City 2        4801.0          NaN  Ward 6     477
158938   040 B Old City 2        4801.0          NaN  Ward 6     477
158939   040 B Old City 2        4801.0          NaN  Ward 6     477
158940   040 B Old City 2        4801.0          NaN  Ward 6     477
158941   040 B Old City 2        4801.0          NaN  Ward 6     477
158942   040 B Old City 2        4801.0          NaN  Ward 6     477
158943   040 B Old City 2        4801.0          NaN  Ward 6     477
158944   040 B Old City 2        4801.0          NaN  Ward 6     477
158945   040 B Old City 2        4801.0          NaN  Ward 6     477
158946   040 B Old City 2        4801.0          NaN  Ward 6     477
158947   040 B Old City 2        4801.0          NaN  Ward 6     477
158948   040 B Old City 2        4801.0          NaN  Ward 6     477
158949   040 B Old City 2        4801.0          NaN  Ward 6     477
158950   040 B Old City 2        4801.0          NaN  Ward 6     477
158951   040 B Old City 2        4801.0          NaN  Ward 6     477
158952   040 B Old City 2        4801.0          NaN  Ward 6     477
158953   040 B Old City 2        4801.0          NaN  Ward 6     477
158954   040 B Old City 2        4801.0          NaN  Ward 6     477
158955                NaN       11000.0          NaN  Ward 6     504
158956                NaN       11000.0          NaN  Ward 6     504

                X          Y QUADRANT
0      -77.040429  38.914881       NW
1      -77.040429  38.914881       NW
2      -77.040429  38.914881       NW
3      -77.040429  38.914881       NW
4      -77.040429  38.914881       NW
5      -77.040429  38.914881       NW
6      -77.040429  38.914881       NW
7      -77.040429  38.914881       NW
8      -77.040429  38.914881       NW
9      -77.040429  38.914881       NW
10     -77.040429  38.914881       NW
11     -77.040429  38.914881       NW
12     -77.040429  38.914881       NW
13     -77.040429  38.914881       NW
14     -77.040429  38.914881       NW
15     -77.040429  38.914881       NW
16     -77.040429  38.914881       NW
17     -77.040429  38.914881       NW
18     -77.040429  38.914881       NW
19     -77.040429  38.914881       NW
20     -77.033366  38.911716       NW
21     -77.033366  38.911716       NW
22     -77.033366  38.911716       NW
23     -77.033366  38.911716       NW
24     -77.033366  38.911716       NW
25     -77.033366  38.911716       NW
26     -77.033366  38.911716       NW
27     -77.033366  38.911716       NW
28     -77.033366  38.911716       NW
29     -77.033366  38.911716       NW
...           ...        ...      ...
158927 -77.019277  38.914287       NW
158928 -77.019277  38.914287       NW
158929 -77.019277  38.914287       NW
158930 -77.019245  38.912954       NW
158931 -77.019245  38.912954       NW
158932 -77.019245  38.912954       NW
158933 -77.019245  38.912954       NW
158934 -77.019245  38.912954       NW
158935 -77.019245  38.912954       NW
158936 -77.019245  38.912954       NW
158937 -77.019422  38.911848       NW
158938 -77.019422  38.911848       NW
158939 -77.019422  38.911848       NW
158940 -77.019422  38.911848       NW
158941 -77.019422  38.911848       NW
158942 -77.019422  38.911848       NW
158943 -77.019422  38.911848       NW
158944 -77.019422  38.911848       NW
158945 -77.019422  38.911848       NW
158946 -77.019422  38.911848       NW
158947 -77.019422  38.911848       NW
158948 -77.019422  38.911848       NW
158949 -77.019422  38.911848       NW
158950 -77.019422  38.911848       NW
158951 -77.019422  38.911848       NW
158952 -77.019422  38.911848       NW
158953 -77.019422  38.911848       NW
158954 -77.019422  38.911848       NW
158955 -77.018232  38.872961       SW
158956 -77.018232  38.872961       SW

[158957 rows x 49 columns]>

In [7]:
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [8]:
df['QUADRANT'].sum()

TypeError: must be str, not int

In [9]:
df['quadrant'].unique()

KeyError: 'quadrant'

In [10]:
df['QUADRANT'].unique()

array(['NW', 'SW', 'SE', 'NE', nan], dtype=object)

In [11]:
df['QUADRANT'].value_counts()

NW    89736
NE    37675
SE    27224
SW     4085
Name: QUADRANT, dtype: int64

df.count()

In [13]:
df.['QUADRANT'].value_counts()

SyntaxError: invalid syntax (<ipython-input-13-c1aaf6ad13ef>, line 1)

In [14]:
df['QUADRANT'].value_counts()

NW    89736
NE    37675
SE    27224
SW     4085
Name: QUADRANT, dtype: int64

In [15]:
df['PRICE'].median()

399999.0

In [16]:
df['PRICE'].groupby(df['QUADRANT']).mean()

QUADRANT
NE    3.928715e+05
NW    1.317785e+06
SE    3.682260e+05
SW    3.470489e+05
Name: PRICE, dtype: float64

In [17]:
df['BEDRM'].groupby(df['QUADRANT']).value_counts()

QUADRANT  BEDRM
NE        3        19437
          2         8467
          4         5993
          1         1918
          5          871
          6          431
          0          239
          8          225
          7           63
          9           14
          10           9
          12           4
          11           2
          13           1
          14           1
NW        3        24856
          1        18994
          2        17668
          4        14873
          5         5485
          0         4332
          6         2380
          7          655
          8          337
          9           83
          10          40
          12          13
          11           9
          15           3
          13           2
          16           2
          14           1
          19           1
          20           1
          24           1
SE        3        12722
          2         7344
          4         3682
          1         2241
          5          500
          6          256
          8          207
          0          183
          7           30
          9           26
          12          17
          10          13
          11           2
          13           1
SW        2         1436
          1         1027
          3          750
          0          542
          4          271
          8           23
          5           20
          6           16
Name: BEDRM, dtype: int64

In [18]:
df['PRICE'].head()

0    1095000.0
1          NaN
2    2100000.0
3    1602000.0
4          NaN
Name: PRICE, dtype: float64

In [19]:
df['GRADE', 'PRICE', 'QUADRANT']

KeyError: ('GRADE', 'PRICE', 'QUADRANT')

In [20]:
df[['GRADE', 'PRICE', 'QUADRANT']]

                GRADE      PRICE QUADRANT
0           Very Good  1095000.0       NW
1           Very Good        NaN       NW
2           Very Good  2100000.0       NW
3           Very Good  1602000.0       NW
4           Very Good        NaN       NW
5           Very Good  1950000.0       NW
6       Above Average        NaN       NW
7           Very Good  1050000.0       NW
8       Above Average  1430000.0       NW
9        Good Quality        NaN       NW
10          Very Good        NaN       NW
11       Good Quality        NaN       NW
12          Very Good        NaN       NW
13          Very Good        NaN       NW
14      Above Average  1325000.0       NW
15      Above Average        NaN       NW
16      Above Average  1240000.0       NW
17      Above Average        NaN       NW
18      Above Average        NaN       NW
19       Good Quality   592250.0       NW
20          Very Good    33232.0       NW
21       Good Quality        NaN       NW
22      Above Average   907400.0       NW
23      Above Average  1065000.0       NW
24      Above Average  1100000.0       NW
25      Above Average    20000.0       NW
26       Good Quality        NaN       NW
27      Above Average   703700.0       NW
28       Good Quality        NaN       NW
29      Above Average  1210000.0       NW
...               ...        ...      ...
158927            NaN        NaN       NW
158928            NaN   632400.0       NW
158929            NaN   574000.0       NW
158930            NaN   365000.0       NW
158931            NaN   405000.0       NW
158932            NaN   505000.0       NW
158933            NaN   520000.0       NW
158934            NaN   499900.0       NW
158935            NaN   451000.0       NW
158936            NaN   564900.0       NW
158937            NaN        NaN       NW
158938            NaN   660000.0       NW
158939            NaN   380000.0       NW
158940            NaN        NaN       NW
158941            NaN        NaN       NW
158942            NaN        NaN       NW
158943            NaN   539000.0       NW
158944            NaN   908500.0       NW
158945            NaN   450000.0       NW
158946            NaN   485355.0       NW
158947            NaN   320000.0       NW
158948            NaN   460000.0       NW
158949            NaN   550000.0       NW
158950            NaN   635000.0       NW
158951            NaN   389000.0       NW
158952            NaN   399900.0       NW
158953            NaN   416000.0       NW
158954            NaN   600000.0       NW
158955            NaN   215100.0       SW
158956            NaN        NaN       SW

[158957 rows x 3 columns]